# Streamlit
streamlit==1.38.0
python-dotenv==1.0.1
deep-translator==1.11.4

# FAISS
faiss-cpu==1.12.0

# LangChain stack (compatible)
langchain==0.3.31
langchain-core==0.3.31
langchain-community==0.3.31
langchain-huggingface==0.3.1
langchain-google-genai==1.0.6
langchain-text-splitters==0.3.1

# HuggingFace
huggingface-hub>=0.33.4

# Others
tiktoken==0.7.0
google-generativeai==0.7.2
rich==13.7.1
