# Streamlit
streamlit
python-dotenv
deep-translator
pypdf
sentence-transformers
torch==2.1.2
transformers==4.36.2
sentence-transformers==2.2.2
# FAISS
faiss-cpu

# LangChain stack (compatible versions)
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-text-splitters

# HuggingFace
huggingface-hub>=0.33.4

# Others
tiktoken==0.7.0
google-generativeai==0.7.2
rich==13.7.1
